<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TriviaMadness</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <div class="navlink"><a href="/logout">Log Out</a></div>
	<div class="navLink"><a href="/profile">Profile</a></div>
  </nav>
  
  <div id="lobbySelect">
	Searching for games...
  </div>
  
  <div id="lobbyCreate">
  </div>
  
  <div id="countdown">
  </div>
  
  <div id="game">
  </div>
  
  <div id="scores">
  </div>
  
  <div id="chat">
  </div>
  
  <div id="csrfWindow">
  </div>
  <input type="hidden" id="roomKeyInput" value={props.csrf} />
  <div id="error">
    <h3><span id="errorMessage">NULL</span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>