<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TriviaMadness</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
</head>
<body> 
  <nav>
    <h2 id="logo">TriviaMadness</h2>
  </nav>
  
  <div id="content">
	<h2>404 - Page not found!</h2>
  </div>
  
  <div id="error">
    <h3><span id="errorMessage">NULL</span></h3>
  </div>
</body>