* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #DBE9EE;
}

body {
	padding: 40px 15% 0 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	margin: 0 auto;
}

a, label, span, h1, h2, h3, h4, h5, h6, li, p {
	font-family: sans-serif;
	color: #000B1C;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 40px;
	background-color: #052F5F;
	box-shadow: 0 4px 5px #484e57;
}

#logo {
	color: #FFF761;
	font-family: sans-serif;
	position: absolute;
	top: 8px;
	right: 15px;
}

#ad {
	position: absolute;
	right: 0;
	top: 20%;
	background-color: white;
	border: 3px solid #052F5F;
	padding: 15px;
	height: 300px;
}

.navLink {
	border-right: 1px solid #FFF761;
	transition: all 0.3s;
}

.navLink:hover, .navLink a:hover {
	background-color: #FFF761;
	color: #052F5F;
	transition: all 0.3s;
}

.navLink a:active {
	filter: brightness(150%);
	transition: filter 0.1s;
}

.navLink a {
	color: #FFF761;
	text-decoration: none;
	height: 100%;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#passwordChange {
	margin-right: 10%;
}

#content {
	margin-top: 25px;
}

#content, #passwordChange, #questionSubmit, #lobbySelect, #lobbyCreate, #game, #scores {
	width: fit-content;
	height: fit-content;
	padding: 20px;
	border: 3px solid #052F5F;
	background-color: #A8D0DB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#loginScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 20px;
}

#profileSettings {
	display: flex;
	margin-top: 25px;
}

#profileName {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 25px;
}

.profileScore {
	font-style: italic;
	font-weight: normal;
	margin-top: 5px;
}

label {
	margin-bottom: 5px;
}

label, input[type="text"], input[type="password"], .lobby h3, .lobby p {
	margin-right: auto;
	width: 100%;
}

select {
	margin-left: auto;
	margin-right: auto;
}

.mainForm, .lobby {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formSubmit {
	border: 2px solid #000B1C;
	background-color: #000B1C;
	color: #FFF761;
	padding: 5px;
	font-weight: bold;
	margin-top: 15px;
	font-size: 15px;
	transition: all 0.3s;
}

.formSubmit:hover {
	background-color: #FFF761;
	color: #000B1C;
	transition: all 0.3s;
}

.formSubmit:active {
	filter: brightness(150%);
	transition: all 0.1s;
	transform: scale(0.98);
}

.mainForm input[type="password"], .mainForm input[type="text"], .mainForm select {
	border: 2px solid #052F5F;
	background-color: #DBE9EE;
	padding: 5px;
	color: #000B1C;
}

.mainForm input:not(:last-child), .mainForm select {
	margin-bottom: 15px;
}

#lobbyCreate {
	margin: 25px;
}

#lobbySelect h2:not(:only-child) {
	margin-bottom: 25px;
}

.lobby {
	border: 2px solid #052F5F;
	background-color: #DBE9EE;
	padding: 15px;
}

.lobby h3 {
	font-size: 20px;
	margin-bottom: 5px;
}

.lobby:not(:last-child) {
	margin-right: 15px;
	margin-top: 15px;
}

#chat {
    width: 250px;
    height: 150px;
    position: absolute;
    z-index: 999;
    bottom: 15px;
	right: 15px;
	border: 3px solid #052F5F;
	background-color: #A8D0DB;
	overflow-y: scroll;
}

#chatList {
	padding: 15px 15px 15px 30px;
	list-style-type: square;
}

#chatList li {
	color: #000B1C;
}

#chatList li:not(:last-child) {
	margin-bottom: 5px;
}

#error {
	display:none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 999;
    bottom: 0px;
	left: 0px;
	background-color: #000B1C;
	padding: 15px;
	text-align: center;
}

#errorMessage {
    font-size: 20px;
    font-weight: bold;
    color: #FFD43A;
    font-style: italic;
}

#question {
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}

#question, #answers {
	border: 2px solid #052F5F;
	background-color: #DBE9EE;
}

#answers {
	display: flex;
	flex-direction: column;
	padding: 25px;
}

#answers .formSubmit {
	width: 50%;
	height: 50px;
	margin-top: 0;
}

#answers .formSubmit:not(:last-child) {
	margin-right: 25px;
}

#bottomAnswers, #topAnswers {
	display: flex;
	justify-content: space-between;
}

#topAnswers {
	margin-bottom: 25px;
}

#scores {
	margin-right: auto;
	margin-top: 25px;
}

#scoreList h3 {
	margin-bottom: 5px;
}

#scoreList li {
	list-style-type: none;
}

#scoreList li:not(:last-child), #winnerList div:not(:last-child) {
	margin-bottom: 15px;
}

#winnerList div {
	border: 2px solid #052F5F;
	background-color: #DBE9EE;
	padding: 15px;
}

#winnerList div h2, #winnersList div h3 {
	margin-bottom: 10px;
}

#winnerList div h3 {
	font-size: 20px;
}

